In [1]:
# Import libraries
import pandas as pd

In [2]:
# load first dataset to be modified from CSV
location_df = pd.read_csv('../Resources/Processed/locationsPriced.csv')
location_df

,Resort ID,Resort Name,Continent,Country,State/Province,Country Code,Adult Price(£)
0,1,KitzSki – Kitzbühel/Kirchberg,Europe,Austria,Tyrol (Tirol),AT,55.00
1,2,Ischgl/Samnaun – Silvretta Arena,Europe,Austria,Tyrol (Tirol),AT,53.00
2,3,SkiWelt Wilder Kaiser-Brixental,Europe,Austria,Tyrol (Tirol),AT,49.00
3,4,Ski Arlberg,Europe,Austria,Tyrol (Tirol),AT,53.00
4,5,Serfaus-Fiss-Ladis,Europe,Austria,Tyrol (Tirol),AT,51.00
...,...,...,...,...,...,...,...
1918,5390,sljeme-medvednica-zagreb,Europe,Croatia,Continental Croatia (Kontinentalna Hrvatska),HR,11.33
1919,5391,velebno-baske-ostarije,Europe,Croatia,Croatia,HR,6.80
1920,5440,kuutse-hill-otepaeae,Europe,Estonia,Valga,EE,24.00
1921,5442,vimka-viimsi-maeepark,Europe,Estonia,Estonia,EE,18.00
1922,5467,serra-da-estrela,Europe,Portugal,Portugal,PT,25.00

In [3]:
# load second dataset to be modified from CSV
rating_df = pd.read_csv('../Resources/Processed/ratings.csv')
rating_df

     Resort ID                                         NameResort  Rate  Stars
0            1                      KitzSki – Kitzbühel/Kirchberg   4.9    5.0
1            2                   Ischgl/Samnaun – Silvretta Arena   4.8    5.0
2            3                    SkiWelt Wilder Kaiser-Brixental   4.8    5.0
3            4                                        Ski Arlberg   4.8    5.0
4            5                                 Serfaus-Fiss-Ladis   4.8    5.0
..         ...                                                ...   ...    ...
404       3397  . The Snow Centre – Hemel Hempstead (indoor sk...   1.0    1.0
405       3487      . Snow Arena – Druskininkai (indoor ski area)   2.7    1.0
406       3498             . Snow Valley – Peer (indoor ski area)   1.0    1.0
407       3499                   . Ice Mountain (indoor ski area)   1.0    1.0
408       3510                              . Hedelands Skicenter   1.0    1.0

[409 rows x 4 columns]

In [4]:
# Merge datasets on "Resort ID"
merged_df = pd.merge(location_df, rating_df, on="Resort ID")
merged_df

,Resort ID,Resort Name,Continent,Country,State/Province,Country Code,Adult Price(£),NameResort,Rate,Stars
0,1,KitzSki – Kitzbühel/Kirchberg,Europe,Austria,Tyrol (Tirol),AT,55.0,KitzSki – Kitzbühel/Kirchberg,4.9,5.0
1,2,Ischgl/Samnaun – Silvretta Arena,Europe,Austria,Tyrol (Tirol),AT,53.0,Ischgl/Samnaun – Silvretta Arena,4.8,5.0
2,3,SkiWelt Wilder Kaiser-Brixental,Europe,Austria,Tyrol (Tirol),AT,49.0,SkiWelt Wilder Kaiser-Brixental,4.8,5.0
3,4,Ski Arlberg,Europe,Austria,Tyrol (Tirol),AT,53.0,Ski Arlberg,4.8,5.0
4,5,Serfaus-Fiss-Ladis,Europe,Austria,Tyrol (Tirol),AT,51.0,Serfaus-Fiss-Ladis,4.8,5.0
...,...,...,...,...,...,...,...,...,...,...
298,3394,. Chill Factore – Manchester (indoor ski area),Europe,United Kingdom,England,GB,59.0,. Chill Factore – Manchester (indoor ski area),1.0,1.0
299,3487,. Snow Arena – Druskininkai (indoor ski area),Europe,Lithuania,Alytus,LT,29.0,. Snow Arena – Druskininkai (indoor ski area),2.7,1.0
300,3498,. Snow Valley – Peer (indoor ski area),Europe,Belgium,Flanders (Vlaanderen),BE,38.0,. Snow Valley – Peer (indoor ski area),1.0,1.0
301,3499,. Ice Mountain (indoor ski area),Europe,Belgium,Wallonia,BE,41.0,. Ice Mountain (indoor ski area),1.0,1.0
302,3510,. Hedelands Skicenter,Europe,Denmark,Denmark,DK,16.9,. Hedelands Skicenter,1.0,1.0

In [5]:
# Convert merged DataFrame to JSON
json_data = merged_df.to_json(orient="records")

In [6]:
# Save JSON data to file
with open("../DataVisualisationDropdowns/static/data/ratedResorts.json", "w") as json_file:
    json_file.write(json_data)